<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Header Language -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="welcome-msg">Welcome to ShopMart! </div>
                        <div class="dropdown jtv-language-box">
                            <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="~/client-side/images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a class="selected" href="#"> <img src="~/client-side/images/flag-english.jpg" alt="flag"> <span>English</span> </a> </li>
                                <li> <a href="#"> <img src="~/client-side/images/flag-default.jpg" alt="flag"> <span>French</span> </a> </li>
                                <li> <a href="#"> <img src="~/client-side/images/flag-german.jpg" alt="flag"> <span>German</span> </a> </li>
                                <li> <a href="#"> <img src="~/client-side/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a> </li>
                                <li> <a href="#"> <img src="~/client-side/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a> </li>
                                <li> <a href="#"> <img src="~/client-side/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a> </li>
                            </ul>
                        </div>
                        <!-- End Header Language -->
                        <!-- Header Currency -->
                        <div class="dropdown jtv-currency-box">
                            <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"> $ - Dollar </a> </li>
                                <li><a href="#"> £ - Pound </a> </li>
                                <li><a href="#"> € - Euro </a> </li>
                            </ul>
                        </div>
                        <!-- End Header Currency -->

                    </div>
                    <div class="col-xs-6 hidden-xs">
                        <!-- Header Top Links -->
                        <div class="jtv-top-links">
                            <div class="links">
                                <ul>
                                    <li> <a title="My Account" href="account_page.html"><span class="hidden-xs">My Account</span></a> </li>
                                    <li> <a title="Wishlist" href="wishlist.html">Wishlist</a> </li>
                                    @*<li> <a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a> </li>*@
                                    <li>
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> More <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="about_us.html"> About Us </a> </li>
                                                <li><a href="#"> Customer Service </a> </li>
                                                <li><a href="#"> Privacy Policy </a> </li>
                                                <li><a href="sitemap.html">Site Map </a> </li>
                                                <li><a href="#">Search Terms </a> </li>
                                                <li><a href="#">Advanced Search </a> </li>
                                            </ul>
                                        </div>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {

                                        <li> <a href="register.html"><span class="hidden-xs">Xin chào @User.GetSpecificClaim("FullName")</span></a> </li>
                                        <li>
                                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                                <a href="#" onclick="document.getElementById('logoutForm').submit()"><span class="hidden-xs">Thoát</span></a>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li> <a href="register.html"><span class="hidden-xs">Register</span></a> </li>
                                        <li> <a href="login.html"><span class="hidden-xs">Log In</span></a> </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Top Links -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="jtv-top-cart-box">
                        <!-- Top Cart -->
                        <vc:header-cart></vc:header-cart>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 jtv-logo-box">
                    <!-- Header Logo -->
                    <div class="logo"> <a title="eCommerce" href="/"><img alt="eCommerce" src="~/client-side/images/logo.png"> </a> </div>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="search-box">
                        <form method="get" action="/search.html">
                            <input type="text" placeholder="Search entire store here..." value="" maxlength="70" name="keyword" id="search">
                            <button type="submit" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>