<div class="our-features-box hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box first">
                    <i class="icon-plane icons"></i>
                    <div class="content">
                        <h3>Free & Next Day Delivery</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box">
                    <i class="icon-earphones-alt icons"></i>
                    <div class="content">
                        <h3>Support 24/7 For Clients</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box">
                    <i class="icon-like icons"></i>
                    <div class="content">
                        <h3>100% Satisfaction Guarantee</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="feature-box last">
                    <i class="icon-tag icons"></i>
                    <div class="content">
                        <h3>Great Daily Deals Discount</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>